#particles-js {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.description-text {
    text-align: center;
    font-size: calc(1vw + 1vh);
    color: white;
}

.center-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: calc(2vw + 2vh);
    color: white;
}

.socials-holder {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    right: 0;
    margin-right: calc(.5vw + .5vh);
    top: calc(50% - 4vw - 4vh);
    z-index: 1000;
}

.social-icon {
    width: calc(2vw + 2vh);
    margin-top: calc(.75vw + .75vh);
}

#particles-js {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.swipe-left {
    transform: translateX(calc(2vw + 2vh));
    opacity: 0;
    animation-name: swipeLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.swipe-up,
.cards-swipe-up {
    transform: translateY(calc(10vw + 10vh));
    opacity: 0;
    animation-name: swipeUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.cards-swipe-up {
    animation-duration: 1s;
}

@keyframes swipeUp {
    100% {
        transform: translateY(calc(-.1vw - .1vh));
        opacity: 1;

    }
}

@keyframes swipeLeft {
    100% {
        transform: translateX(calc(-.1vw - .1vh));
        opacity: 1;

    }
}

.socials-link {
    transition: .3s;
}

.socials-link:hover {
    transform: scale(1.1);
}

.hero-image {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url("img/Background2.PNG");
    background-attachment: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-size: cover;
}

.background {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    background-color: rgba(10, 61, 98, .99);
    display: flex;
    visibility: visible;
}

.fade-bck {
    transition: background-color 200ms linear;
    background-color: rgba(10, 61, 98, 0);
}

.fade-out {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

h2 {
    text-align: center;
}

.sticky-section {
    position:fixed;
    top:calc(25%);
}
.section3 {
    display:flex;
    flex-direction: column;
}
.end-sticky-section {
    margin-top:auto;
    position: static;
}
.end-sticky-text {
    position:static!important;
    z-index:1000;
}
.sticky-text {
    position:fixed;
    opacity:0;
    width:50%;
    padding:2em;
    
    right:5%;
    top:50%;
    transition:opacity 200ms ease-in-out;
    background-color: rgb(23, 23, 23);
    border-radius:20px;
    color:white;
    box-shadow: 0 2px 4px -2px black;
}
.sticky-text > h3{
    font-size:calc(1vw + 1vh);
}
.sticky-text > p {
    font-size:calc(.75vw + .75vh);
}
.section3-flexbox {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
h3 {
    text-align:center;
}
.section1, .section2, .section3 {
    height:200vh;
    transition:opacity 200ms ease-in-out;
}
.section3 {
    height:300vh;
}
#bg1 {
    background: no-repeat url(img/banner-image1.PNG) 50% / 100%;
    opacity:0;
}
#bg2 {
    background: no-repeat url(img/banner-image2.PNG) 50% / 100%;
    opacity:0;
}
#bg3 {
    background: no-repeat url(img/banner-image3.PNG) 50% / 100%;
    opacity:0;
}
section div img {
    vertical-align: top;
    width:100%;
    opacity:0;
    z-index:-100;
}
#bg1, #bg2, #bg3{
    width:50%;
    mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
    -webkit-mask-size: 100vmin;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    
    z-index:-100;
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: opacity 200ms ease-in-out;
}
#bg2 {
    transition:opacity 300ms ease-in-out;
}
#bg3 {
    transition:opacity 300ms ease-in-out;
}
footer {
    margin-top:calc(2vw + 2vh);
}
@media only screen and (max-width: 768px) {
    .socials-holder {
        top: 25%;
    }

    .hero-image {
        background: linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .25)), url("img/Background-vertical.png");
        background-size: cover;
        height: 60vh;
    }

    #particles-js {
        display: none;
    }
}